
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>ふぉろーばっくあっぷったーbeta v0.2</h1>
    <div class="main">

      <div id="user">
        <div id="your-data">あなたの情報</div>
        <img src="<%- profile.profile_image_url.replace( /_normal/g , "" ) %>" width="128px">
        <div id="name" class="overflow-text"><%- profile.name %></div>
        <div id="screen_name" class="overflow-text">@<%- profile.screen_name %></div>
      </div>

      <h2>取得件数: XXX件</h2>
      <div class="buttons">
        <button type="button" class="btn btn-success btn-lg" onclick="location.href='/csv';">CSV形式でダウンロード</button><br>
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/logout'">ログアウト</button>
      </div>
      <h2>▼あなたがフォローしている人たち</h2> 
      <div class="open">
        <% users.forEach(function(user, index, array){ %>
          <%= user.name %> by @<%= user.screen_name %> id:<%= user.id %><hr>
        <% }) %>
      </div>
    </div>
    <div id="footer">
      こぴーらいと 2017 <a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>
    </div>
  </body>
</html>
